<div class="container-fluid">
  <app-page-header
    [title]="data.title"
    [subtitle]="data.subtitle"
    [name]="data.name"
  ></app-page-header>

  <div class="row mb-5">
    <div class="col-12">
      <div class="card-box">
        <div class="table-responsive">
          <table
            id="table-permisos"
            class="table table-hover mb-0 dts"
            datatable
            [dtOptions]="dtOptions"
          >
            <thead class="bg-dark text-center text-white text-nowrap">
              <tr style="cursor: pointer">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              @for (permiso of permisos; track $index) {
              <tr class="text-nowrap text-center">
                <th scope="row" class="align-middle">{{ permiso.id }}</th>
                <td class="align-middle">{{ permiso.nombre }}</td>
                <td class="align-middle">
                  {{ permiso.descripcion }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
